
* {
	margin: 0;
	padding: 0;
}

/*********************/ 
/* HEADER */ 
/**********************/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/1796736/pexels-photo-1796736.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	height: 100vh;
}

.navbar-custom {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.color-me {
    color: #fff !important;
}

.color-me:hover {
	color: #DC8051 !important;
}

header p {
	color: white;
	display: inline-block;
	font-size: 1.2rem;
}

.header-text-box {
	position: absolute;
	width: 70%;/*
	display: flex;
  	justify-content: center;
  	align-items: center;*/
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.collapsible-navbar {
	background-color: rgba(220, 128, 81, 0.8);
}

h1 {
	color: #fff;
	font-size: 4.5rem;
	margin-top: 0;
	margin-bottom: 20px;
}

.header-button {
	margin-top: 2%;
	margin:bottom: 2%;
}

.btn:link,
.btn:visited {
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #DC8051;
	border: 1px solid #DC8051;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #DC8051;
	color: #DC8051;
}

.btn:hover,
.btn:active {
	background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
	border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}


/*********************/ 
/* BOOKING FORM */ 
/**********************/

#booking-form {
	background-color: #DC8051;
	padding-top: 2%;
	padding-bottom: 2%;
}

.search-div {
	text-align: center;
	padding-top: 3%;
	color: red;
}

.search-button {
	background-color: #fff;
	color: #DC8051;
	border: none;
	width: 168px;
}

.dest-key, .loc-key, .date-key, .dur-key {
	background-color: rgba(255,255,255,0.1);
	margin-top: 12px;
	margin-bottom: 9px;
	padding: 6px 20px 7px;
}

#booking-form ::placeholder {
	color: #fff;
}

#booking-form input[type=date] {
    color: #fff;
}

#booking-form {
	color: #fff;
	font-weight: bold;
}

/*********************/ 
/* FEATURES */ 
/**********************/

.features {
	padding-top: 5%;
	padding-bottom: 5%;
}

.feature-box {
	text-align: center;
}

.feature-box p {
	line-height: 200%;
	margin-bottom: 16%;
}

.detail-of-service, .features-img {
	margin-bottom: 8%;
}

/*********************/ 
/* SERVICE AND NETWORK DETAILS */ 
/**********************/

#company-network-and-services-details {
	background-color: #DC8051;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.service-box {
	color: white;
	text-align: center;
}

.no-of-customers, .no-of-hotel-members, .no-of-tours, .no-of-cities {
	font-size: 125%;
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 2%;
}

.satisfied-customers, .hotel-members, .tours, .cities {
	margin-bottom: 8%;
} 


/*********************/ 
/* TESTIMONIALS */ 
/**********************/

#testimonials {
	background-color: #DC8051;
	color: #fff;
	margin-top: 8%;
	text-align: center;
}

#testimonials h2 {
	font-size: 3rem;
	line-height: 1.5;
}

.testimonial-img {
	width: 20%;
	border-radius: 100%;
	margin: 20px;
}

.testimonial-paragraph {
	line-height: 2.5;
}

.carousel-item {
	padding-right: 15px;
	padding-left: 15px;
}


/************************************/ 
/* CITIES AND OFFERS SECTION */ 
/************************************/

#city-offers {
	margin-top: 8%;
}

.city-offer-h2 {
	font-weight: 900;
	padding-bottom: 4%;
}

.city-offer-card {
	margin: 2%;
}

.city-offer-review-paragraph {
	color: grey;
}

/************************************/ 
/* FOOTER */ 
/************************************/

footer {
	background-color: #222222;
	color: #C0C0C0;
	padding-top: 3%;
	padding-bottom: 3%;
}

.aventura-footer-img {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-nav li {
	color: #C0C0C0;
	display: inline;
	padding: 1%;
	text-decoration: none;
	list-style-type: none;
}

.footer-nav a {
	color: #C0C0C0;
}

.footer-nav a:hover {
	color: white;
	text-decoration: none;
}

@media only screen and (max-width:420px) {
	.header-text-box {
		position: absolute;
		width: 50%;/*
		display: flex;
	  	justify-content: center;
	  	align-items: center;*/
		
		top: 50%;
		left: 50%;
		transform: translate(-70%, -50%);
	}

	header h1 {
		font-size: 3.5rem;
	}

	.header-button {
		margin-bottom: 20px;
	}


	.navbar.navbar-custom .navbar-collapse {
		background-color: rgba(220, 128, 81, 1);
		z-index: 1;
	}

	.color-me {
		margin-left: 22px;
	}

	.city-offer-row .col-sm-12 {
		margin-left: auto;
		margin-right: auto;
	}


}



















